<div id="<%= dom_id colaborator %>">
  <p>
    <strong>Name:</strong>
    <%= colaborator.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= colaborator.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= colaborator.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= colaborator.role %>
  </p>

</div>
